.forgot-password-main {
     font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-size: 100% , 100%;
  background-image: url(images/Signupbackground.jpg);
}
div.he-ol{
    width: 100%;
    margin: auto;
}
div.ju-lol{
    width: 80%;
    margin: auto;
}
div.con-le{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
Img.Img-rt{
    width: 90%;
    border-radius: 10px;
}
/* Container for the Forgot Password Box */
.login-box {
    padding: 50px;
    border-radius: 12px;
    width: 60%;
    max-width: 400px;
    margin: auto;
    text-align: left;
}

/* Headings & Paragraphs */
.login-box h3 {
    color: #685bb7;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.login-box p {
    text-align: center;
    color: rgba(0,0,0,0.7);
}

/* Input Container */
.input-container {
    margin-bottom: 18px;
    position: relative;
}

.input-container label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
    margin-left: 10px;
    font-size: 18px;
}

.input-container input {
    width: 100%;
    padding: 15px 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    transition: all 0.3s;
}

.input-container input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.3);
}

/* Icon inside Input */
.input-container i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #007bff;
    cursor: pointer;
}

/* Button Styling */
button {
    width: 106.5%;
    padding: 14px;
    background: linear-gradient(to right, #8caae7, #685bb7);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background: linear-gradient(to right, #685bb7, #8caae7);
    transform: scaleX(1.03);
}

/* Links Styling */
.links {
    text-align: center;
    margin-top: 15px;
}

.links a {
    color: #685bb7;
    text-decoration: none;
    font-weight: 600;
}

.links a:hover {
    text-decoration: underline;
}

/* Utility Class for Hiding Elements */
.hidden {
    display: none;
}